body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
main.homework-board{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5%;
    backdrop-filter: blur(15px);
    top:0
}
div.subject{
    width: 49%;
    height: 235px;
    top: 0.5%;
    border: #00000086 1px solid;
    border-radius: 5px;
    display: flex;
    margin: 0.5% 0;
    background-color: #ffffff34;
}
div.title{
    width: -moz-fit-content;
    width: fit-content;
    height: 235px;
    border-right: #00000062 1px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.subject-name{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 40px;
    align-content: center;
    color: #000000;
}
div.subject{
    position: relative;
}
ul.content{
    font-size: 35px;
}
ul.content li{
    top: 0px;
}
div.title{
    border-radius: 4px 0 0 4px ;
}
div.chinese div.title{
    background-color: #eba34c;
}
div.math div.title{
    background-color: #1781B5;
}
div.english div.title{
    background-color: #57C3C2;
}
div.physics div.title{
    background-color: #b82490;
}
div.chemistry div.title{
    background-color: #15559A;
}
div.biology div.title{
    background-color: #248067;
}
div.politics div.title{
    background-color: #C02C38;
}
div.others div.title{
    background-color: #a5a5a5;
}
div.edit-window{
    background-color: #ffffff;
    z-index: 11;
    width: 600px;
    height: 600px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    display: none;
    border: #000000 1px solid;
}
div.button-edit{
    position: absolute;
    bottom: 3%;
    right: 1%;
}
div.close-button{
    position:absolute ;
    bottom: 5%;
    right: 10%;
}
button.btn1{
    background-color:#f66f6a;
    color:white;
    width: 400px;
    height: 45px;
    border:0;
    font-size: 16px;
    box-sizing: content-box;				
    border-radius: 5px;
}
button.btn1:hover{
    background-color: #a54b4a;
}
button.btn1:active{
    position:relative;
    top:1px;
  
}